# Python build files
__pycache__/

# SetupTools release files
*.egg-info
dist

# Test CrossDoc repository directories/files
cdoc-test
test_project
cdoc-config.json

# Ignore text editor auto-save files
.#*
\#*
*.sw[klmnop]

# Ignore misc files
*.lnk
