# Python build files
__pycache__/

# SetupTools release files
*.egg-info
dist

# Test CrossDoc repository directories/files
cdoc-test
cdoc-store
test_project
cdoc-config.json

# Ignore text editor auto-save files
.#*
\#*
*.sw[klmnop]

# Ignore misc files
*.lnk
te-plugins/vim/CrossDoc.vim~
te-plugins/vim/.CrossDoc.vim.un~
te-plugins/vim/.cdoc-config.json.un~
