.image {
    display: flex;
    align-items: center;
    flex-direction: column;

    margin: 25px 0;

    background-color: #191932;
    height: 60vh;

    position: relative;
}
.image--small {
    height: 40vh;
}
    .image__elem {
        min-width: 200px;
        min-height: 100px;
        max-width: 100%;
        max-height: 100%;

        margin: auto;
    }
    .image__descr {
        position: absolute;
        color: #fff;
        top: 100%;
        display: block;
        left: 0;
        width: 60vh;
        transform: rotate(-90deg);
        transform-origin: left top 0;
        word-wrap: break-word;
        padding: 10px 16px;
        text-align: center;
        font-size: 1.4rem;
        font-weight: 300;
        background-color: rgba(25, 25, 50, 0.5);
    }
    .image--small > .image__descr {
        width: 40vh;
    }


.contacts {
    display: flex;
    margin-bottom: 20px;
}
.contact {
    position: relative;

    margin: 0 10px;
    width: 100%;

    background-color: #fbfbfb;
    border-radius: 5px;
    border-top: 5px solid #298cff;

    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.contact--secondary {
    border-top-color: #191932;
}
.contact--accent {
    border-top-color: #FFA516;
}
    .contact__img {
        width: 100%;
        height: 100%;

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .contact__descr {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        position: absolute;
        bottom: 0;
        width: 100%;
        height: 64px;
        padding: 2px 6px;
        text-align: center;
        font-size: 1.6rem;
        color: #fff;
        font-weight: 300;
        background-color: rgba(25, 25, 50, 0.85);

        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-bottom: 0px solid transparent;

        transition: height ease-in-out .2s, border-bottom ease-in-out .2s;
    }
    .contact:hover > .contact__descr {
        height: 100%;
        border-bottom: 5px solid #298cff;
    }

    .contact__info {
        opacity: 0;
        max-height: 0px;
        font-size: 1.2rem;
        display: flex;
        flex-direction: column;
        overflow: hidden;

        transition: opacity ease-in-out .2s, margin-top ease-in-out .2s, max-height ease-in-out .2s;
    }
    .contact:hover > .contact__descr > .contact__info {
        opacity: 1;
        height: auto;
        margin-top: 10px;
        max-height: 100px;
    }

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}
.col {
    padding: 0 15px;
}


@media (max-width: 769px) {

    .row {
        flex-direction: column;
    }

    .image {
        height: auto;
        overflow: hidden;
    }
        .image__descr {
            transform: none;
            top: auto;
            bottom: 0;
            border-top-right-radius: 3px;
            width: auto !important;
            background-color: rgba(25, 25, 50, 0.85);
        }
}

@media (max-width: 577px) {
    
    .contacts {
        flex-direction: column;
    }

    .contact {
        margin-bottom: 20px;
    }

}
