html, body {
    padding: 0;
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    background-color: #eee;
    color: #111;
    font-size: 1rem;
}

* {
    box-sizing: border-box;
}

/* Custom html element styling */
.body-container h2, .body-container h1 {
    margin-bottom: 1.25rem;
    font-weight: 300;
    line-height: 1.25;
}
.body-container p {
    margin-top: 0;
    margin-bottom: 25px;
}
.body-container p:last-child{
    margin-bottom: 0;
}

.body-container a {
    text-decoration: none;
    color: #298cff;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    
    transition: background-color cubic-bezier(.165, .84, .44, 1) .2s,
                border-bottom cubic-bezier(.165, .84, .44, 1) .2s;
}
    .body-container a:hover, .body-container a:focus {
        border-bottom: 1px solid #298cff;
        background-color: rgba(42,140,255,0.1);
        outline: none;
        transition: none;
    }


.nav {
    background-color: #298cff;
    position: fixed;
    will-change: transform;
    top: 0;
    z-index: 100;
    height: 68px;
    width: 100%;
    box-shadow: 0 2px 2px rgba(0,0,0,.23);
}
    .nav__container {
        display: flex;
        height: inherit;
        max-width: 960px;
        margin: 0 auto;
    }

    .nav__logo {
        padding: 5px 12px;
        height: inherit;
        display: block;
        transition: background-color cubic-bezier(.165, .84, .44, 1) .2s;
    }
    .nav__logo-img {
        height: 100%;
        border: none;
    }

    .nav__overflow {
        margin-left: auto;
    }

    .nav__options {
        display: flex;
        height: 100%;

        padding: 0;
        margin: 0;

        list-style: none;

        white-space: nowrap;
    }
    .nav__option {
        display: inline-flex;
    }
    .nav__link {
        display: inline-flex;
        align-items: center;

        padding: 0 17px;

        font-size: 1.25rem;
        text-shadow: 1px 1px rgba(20,20,20,0.4);

        text-decoration: none;
        color: #fff;
        transition: background-color cubic-bezier(.165, .84, .44, 1) .2s;
    }
    .nav__logo:hover, .nav__logo:focus,
    .nav__link:hover, .nav__link:focus {
        background-color: #0D7BFF;
        transition: none;
    }


.page-head {
    margin-top: 68px;
    margin-bottom: 10px;

    min-height: 140px;
    background-color: #191932;
    background-size: cover;
    background-blend-mode: overlay;

    color: #fff;
    text-shadow: 1px 1px #000;

    border-bottom: 5px solid #298cff;
    box-shadow: 0 1px 0 rgba(12,13,14,0.1), 0 1px 3px rgba(12,13,14,0.1), 0 4px 20px rgba(12,13,14,0.035), 0 1px 1px rgba(12,13,14,0.025);
}
.page-head--large {
    min-height: 320px;
}
    .page-head__container {
        max-width: 960px;
        margin: 0 auto;
        padding: 31px 20px 30px 20px;
    }

    .page-head__heading {
        margin-top: 0;
        margin-bottom: 12px;
        font-weight: 300;
        line-height: 54px;
        font-size: 2.65rem;
    }
    .page-head--large .page-head__heading  {
        font-size: 3.5rem;
        line-height: 66px;
    }

    .page-head__paragraph {
        margin: 0 0 8px 0;
        font-size: 1.2rem;
        line-height: 28px;
    }
    .page-head--large .page-head__paragraph  {
        font-size: 1.4rem;
        line-height: 32px;
    }


.body-container {
    max-width: 960px;
    margin: 0 auto 25px auto;

    line-height: 28px;
    font-size: 1.1em;

    padding: 10px 20px;
}

.row {
    display: flex;
    margin-left: -15px;
    margin-right: -15px;
}

.col {
    padding: 0 15px;
}

.back-to-top {
    position: fixed;
    outline: none;
    bottom: 30px;
    right: 20px;
    width: 53px;
    height: 53px;
    color: #298cff;
    text-align: center;
    border-radius: 50%;
    will-change: transform;
    border: 3px solid #298cff;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(60,60,60,.34);
    z-index: 100;
    opacity: 0;
    pointer-events: none;

    transition: visiblity cubic-bezier(.165, .84, .44, 1) .2s,
                box-shadow cubic-bezier(.165, .84, .44, 1) .2s,
                opacity cubic-bezier(.165, .84, .44, 1) .2s;
}
.back-to-top::before {
    content: "\f062";
    font-family: FontAwesome;
    font-size: 32px;
    line-height: 24px;
}
.back-to-top.visible {
    opacity: 0.45;
    cursor: pointer;
    pointer-events: initial;
}
.back-to-top.visible:hover {
    transition: box-shadow cubic-bezier(.165, .84, .44, 1) .2s,
                opacity 0s;
    opacity: 1;
    box-shadow: 0 4px 8px rgba(60,60,60,.34);
}

@media (max-width: 769px) {

    .nav {
        position: relative;
        height: auto;
    }
        .nav__container {
            flex-direction: column;
            align-items: center;
        }
        .nav__logo {
            margin-top: 4px;
            margin-bottom: 4px;
            height: 78px;
        }
        .nav__options {
            height: auto;
            padding-bottom: 30px;
            overflow-x: auto;
        }

        .nav__overflow {
            position: relative;
            height: 42px;
            max-width: 100%;
            margin-bottom: 5px;
            margin-left: 0;
            overflow: hidden;
            padding: 0 4px;
        }
        /* Fade options to blue on mobile */
        .nav__overflow::before {
            content: "";
            position: absolute;
            top: 0; left: 4px;

            height: 100%;
            width: 13px;

            border-left: 4px solid #298cff;

            background: rgba(41,141,255,1);
            background: -moz-linear-gradient(left, rgba(41,141,255,1) 0%, rgba(41,140,255,0) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41,141,255,1)), color-stop(100%, rgba(41,140,255,0)));
            background: -webkit-linear-gradient(left, rgba(41,141,255,1) 0%, rgba(41,140,255,0) 100%);
            background: -o-linear-gradient(left, rgba(41,141,255,1) 0%, rgba(41,140,255,0) 100%);
            background: -ms-linear-gradient(left, rgba(41,141,255,1) 0%, rgba(41,140,255,0) 100%);
            background: linear-gradient(to right, rgba(41,141,255,1) 0%, rgba(41,140,255,0) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#298dff', endColorstr='#298cff', GradientType=1 );
        }
        .nav__overflow::after {
            content: "";
            position: absolute;
            top: 0; right: 4px;

            height: 100%;
            width: 13px;

            border-right: 4px solid #298cff;

            background: rgba(41,141,255,0);
            background: -moz-linear-gradient(left, rgba(41,141,255,0) 0%, rgba(41,140,255,1) 100%);
            background: -webkit-gradient(left top, right top, color-stop(0%, rgba(41,141,255,0)), color-stop(100%, rgba(41,140,255,1)));
            background: -webkit-linear-gradient(left, rgba(41,141,255,0) 0%, rgba(41,140,255,1) 100%);
            background: -o-linear-gradient(left, rgba(41,141,255,0) 0%, rgba(41,140,255,1) 100%);
            background: -ms-linear-gradient(left, rgba(41,141,255,0) 0%, rgba(41,140,255,1) 100%);
            background: linear-gradient(to right, rgba(41,141,255,0) 0%, rgba(41,140,255,1) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#298dff', endColorstr='#298cff', GradientType=1 );
        }

        .nav__link {
            font-size: 1.25rem;
            padding-top: 5px;
            padding-bottom: 5px;
        }
        .nav__logo:hover, .nav__logo:focus,
        .nav__link:hover, .nav__link:focus {
            background-color: initial;
        }

        .nav__space {
            height: 0;
        }

    .page-head {
        margin-top: 0;
    }
    .page-head--large {
        min-height: auto;
    }
        .page-head__container {
            padding-top: 20px;
            padding-bottom: 20px;
        }
        .page-head__heading, .page-head--large .page-head__heading {
            font-size: 2.3rem;
            line-height: 54px;
            margin-bottom: 8px;
        }

        .page-head__paragraph, .page-head--large .page-head__paragraph {
            font-size: 1.1rem;
            line-height: 28px;
        }

    .back-to-top {
        display: none;
    }
}
