/* To be replaced by bootstrap */
html, body {
    padding: 0;
    margin: 0;

    background-color: #298cff;
}

h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.page-container {
    text-align: center;
    padding: 10px 30px;
}

.splash {
    width: 72vw;
    height: auto;
    max-height: 58vh;
    margin: 25px 0;
}

.intro-text {
    color: #fff;
    font-size: 1.8em;
    font-family: 'Asap Condensed', sans-serif;
}

.under-construction {
    color: #ffcc00;
    text-shadow: 0 1px rgba(0,0,0,0.8);
    font-weight: 700;
}
